#movies img, #movie img {
    width: 100%;
}
@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies  img { 
        height: 240px;
    }

}

body{
    background-color: rgba(11, 11, 218, 0.753);
}
#search{
    color: rgb(247, 6, 6);
}
#movieinfo1{
    color: red;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 2rem;
    margin-left: 30rem;
}
#searchbox{background-color: black;}

#searchText{
    height: 1rem;
    width: 20rem;
    margin-left: 22.5rem;
}
.well{
    margin: 5px; background-color: red; padding: 10px; border-radius: 20px;

}
